.App {
  text-align: center;
  background-color: #1c1b1b;
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.LoadButton {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #d9392e;
}

.Footer {
  background-color:#d9392e;
  padding: 50px;
}
