.MovieCard {
    width: calc(15% - 20px);
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    height: 300px;
    box-shadow: 0px 4px 16px ;
    border-radius: 15px;
}

.PosterImg {
    width: calc(100% - 0px);
    height: 180px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    border-radius: 8%;
}

.VoteAverage {
    font-size: 13px;
    text-align: center;
    color: #f5f0f0;
}

.MovieTitle {
    font-size: 18px;
    text-align: center;
    color: #f5f0f0;
}